@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: "Open Sans", sans-serif;
  }



  /* chat_box_opan_btn css */

  .chat_box_btn_wrapper{
    position: fixed;
    z-index: 9;
    bottom: calc(30%);
    right: 0;
    display: flex;
    transform: rotate(90deg);
    transform-origin: right top;
    
  }
  .chat_box_opan_btn{
    background-color: #666;
    border: none;
    display: inline-block;
    padding: 8px 30px;
    font-size: 18px;
    color: #fff;
    border-radius: 3px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: capitalize;
    transform: scale(-1, -1);
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
  }
  

  /* Chat_box_css */
  .chat_box_wrapper{
    max-width: 368px;
    height: 400px;
    position: fixed;
    bottom: 0;
    right: 20px;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.48px 2.41px -0.38px, rgba(0, 0, 0, 0.17) 0px 4px 20px -0.75px;
    overflow: hidden;
    isolation: isolate;
    border-radius: 4px 4px 0px 0px;
    background: rgb(248, 248, 248);
    z-index: 99;
    scale: 0;
  }
  .chat_box_header{
    background: #6F0FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    color: #fff;
  }

  div#chatBoxCloseBtn {
    width: 30px;
    height: 30px;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
}
  div#chatBoxCloseBtn:hover {
    background: #8a4ce7;
}
  .chat_box_header .left_icon > svg {
    width: 30px;
    height: 30px;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
}
 .chat_box_header .left_icon > svg:hover {
    background: #8a4ce7;
}
.chat_box_header .left_icon{
    position: relative;
}

.header_left_icon_content {
    position: absolute;
    top: 150%;
    background: #fff;
    width: 200px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.48px 2.41px -0.38px, rgba(0, 0, 0, 0.17) 0px 4px 20px -0.75px;
    color: #333;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.header_left_icon_content.active{
    opacity: 1;
    visibility: visible;
    top: 114%;
}

.header_left_icon_content ul li{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}
.header_left_icon_content ul li:hover{
    background: #E3E3E3;
}
.header_left_icon_content ul li svg{
    width: 25px;
    margin-right: 8px;
    color: #333;
}


  .chat_box_header_title h3{
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto Mono", monospace;
  }

.chat_box_header svg{
    width: 2.2rem;
    color: #fff;
    cursor: pointer;
} 

.chat_box_body{
    height: 100%;
    outline-offset: -5px;
    padding: 0.8em;
    background: transparent;
    overscroll-behavior: contain;
    background: #F8F8F8;
    overflow-y: scroll;
    padding-top: 15px;
    padding-bottom: 70px;
}

.chat_box_content{
    padding: 10px 10px;
    box-shadow: none;
    border: 1px solid rgb(227, 227, 227);
    padding: 8px;
    background: #fff;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.7;
}
.chat_box_content a{
    font-size: inherit;
    color: inherit;
}
.input_item input, .input_item textarea{
    width: 100%;
    display: block;
    border: 1px solid rgb(117, 117, 117);
    appearance: none;
    background-color: rgb(248, 248, 248);
    color: rgb(17, 17, 17);
    font-family: inherit;
    box-shadow: none;
    transition: border-color 100ms linear 0s, background-color 100ms linear 0s;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: normal;
    padding: 10px;
    margin: 2px 0px;
    margin-bottom: 10px;
}

.input_item input:focus, .input_item input:active, .input_item textarea:focus {
    outline: none;
    box-shadow: rgb(247, 243, 255) 0px 0px 0px 3px;
    border: 1px solid rgb(111, 15, 255);
    background-color: rgb(255, 255, 255);
}

.input_item label{
    font-size: 14px;
    text-transform: capitalize;
}

.chat_box_submit_btn button{
    width: 100%;
    display: block;
    border: 0px;
    font-family: inherit;
    width: 100%;
    max-width: 320px;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline-offset: 2px;
    border-radius: 6px;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(111, 15, 255);
    box-shadow: none;
    margin-top: 8px;
}

.input_item span.required {
    color: red;
    font-size: 10px;
}

.chat_box_from{
    margin-top: 10px;
}

